.luca--navmenu {
  background-color: var(--neutral2);
  height: 60px;

  display: flex;
  flex-direction: row;
}

#luca--logo {
  width: 78px;
  height: 20px;
  margin: 20px 30px;
  font-family: ico_LUCA;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000 !important;
}

.luca--navmenu--separator {
  width: 1px;
  height: 30px;
  margin: 15px 0;
  background-color: var(--neutral5);
}

ul {
  margin: 0;
  padding: 0;
}

ul.luca--navmenu {
  list-style: none;
}

ul.luca--navmenu li {
  float: left;
  height: 37px;
  padding: 0 30px;
  margin-top: 20px;

  opacity: 0.5;

  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: var(--neutral8);
}

ul.luca--navmenu li:hover {
  opacity: 1;
  border-bottom: 3px solid var(--neutral4);
}

.luca--navmenu__active {
  opacity: 1 !important;
  font-weight: 700 !important;
}

.luca--navmenu__disabled {
  opacity: 0.5;
  font-weight: normal;
}
