#title {
  text-align: center;
}

#tabla {
  margin: auto;
  width: 36px;
  height: 16px;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: right;
  color: var(--neutral8);
  text-align: center;
  border-collapse: collapse;
  width: 650px;
}

#tabla td,
#tabla th {
  height: 40px;
  padding: 8px;
}

#tabla tr:nth-child(even) {
  height: 40px;
  background-color: var(--neutral1);
}

#tabla tr:hover {
  height: 40px;
  background-color: #ddd;
}

#tabla th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: black;
}

.densidadBaja-Header {
  width: 1240px;
  height: 40px;
}

.download-table-xls-button {
  /* margin-top: 5px; */
  background-color: #00aaee;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  padding: 10px 12px;
  padding: 8px;
  border-radius: 3px;
  margin-left: 5px;
  text-decoration: none;
}
.download-table-xls-button:hover {
  cursor: pointer;
}
